
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 50%;
  margin: 10vh auto ;
  padding:10px 5px 10px 5px;
  background-color: antiquewhite;
  border-radius: 20px;

}




